.input-blocks {
    align-items: center;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 2% auto;
    padding: 2% 0;
    width: 40%;

    .input-block {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 40%;

        label {
            color: white;
            margin-left: 2%;
        }
    }

    &__color {
        border: none;
        cursor: pointer;
        height: 40px;
        margin: 0;
        padding: 0;
        width: 40px;
    }

    &__number {
        border: none;
        border-radius: 3px;
        font-size: 28px;
        height: 40px;
        text-align: center;
        width: 100px;
    }

    &__save{
        background-color: #07f045;
        border: none;
        border-radius: 3px;
        color: white;
        cursor: pointer;
        font-weight: bolder;
        height: 30px;
        margin: 0 2%;
        padding: 3% 5%;

        &:hover {
            background-color: #02b84e;
        }
    }

    &__sort {

        background-color: #039dfc;
        border: none;
        border-radius: 3px;
        color: white;
        cursor: pointer;
        font-weight: bolder;
        height: 30px;
        margin: 0 2%;
        padding: 3% 5%;

        &:hover {
            background-color: #1c5578;
        }
    }
}
