.locomotive-section {
    align-items: center;
    margin: 3%;
    width: 80%;

    .locomotive {
        display: flex;
        flex-wrap: wrap;
        height: 40%;
        justify-content: center;
        margin: 3% auto;
        width: 80%;
    }
    
    .count {
        color: white;
        font-size: 36px;
        text-align: start;
    }
}
